# Ignore files
# Backup for using RIME schemas and userdb.txt

*.bin

build/

*.userdb

.place_holder
custom_phrase.txt
default.yaml
installation.yaml
symbols.yaml
user.yaml

bopomofo_tw.schema*
cangjie5.schema*
luna_pinyin.schema*
luna_pinyin_*.schema*
luna_quanpin.schema*
pinyin_simp.schema*
stroke.schema*
triungkoxsampheng.schema*
wubi86.schema*
zyenpheng.schema*

luna_pinyin.*.dict.yaml
stella.dict.yaml
zhung*.dict.yaml

sync/stella/*.bin
sync/stella/*.yaml
sync/stella/pinyin_simp.userdb.txt
sync/stella/terra_pinyin.userdb.txt